.center {
  margin: 0 auto;
}
#container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}
#container>div {
  display: inline-block;
  vertical-align: top;
}
#container .left {
  width: 150px;
  height: 50%;
  background-color: #AAAABB;
}
#container .right {
  width: 150px;
  height: 50%;
  background-color: #AAAABB;
}
