
.meLayout {
  overflow: hidden;
  .shadow();
  position: relative;
  .boxSizing;
  padding: 19px 30px 41px;
  table {
    width: 0;
    table-layout: fixed;
    border-top: solid 1px #CBCBCB;
    border-left: solid 1px #CBCBCB;
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    .boxSizing;
    th, td {
      padding: 0 0;
      border-right: solid 1px #CBCBCB;
      border-bottom: solid 1px #CBCBCB;
      position: relative; //用于给调整框定位用
    }
    &.thead {
      background-color: rgb(225, 225, 225);
      th {
        /*禁止文字选中*/
        .user-select;
        font-size: 12px;
      }
      user-select: none;
      &.vertical {
        border-top: 0px;
        float: left;
        th {
          width: 40px;
          overflow: hidden;
        }
      }
      &.horizon {
        position: absolute;
        z-index: 2;
      }
    }
    &.content {
      float: left;
      border-top: 0px;
      border-left: 0px;
      th.shade {
        background-color: #E5EEFE;
        opacity: 0.8;
      }
    }
  }
  .indicator {
    overflow: visible;
    border-right: dotted 2px rgba(213, 129, 30, 0.95);
    border-bottom: dotted 2px rgba(213, 129, 30, 0.95);
  }
  .wrapper {

  }

  .resizer {
    display: none;
    position: absolute;
    &.colResizer {
      width: 6px;
      top: 0px;
      right: 0px;
      z-index: 3;
      &:hover {
        cursor: ew-resize;
        background-color: #d2d2d8;
      }
    }
    &.rowResizer {
      height: 6px;
      bottom: 0px;
      left: 0px;
      &:hover {
        cursor: ns-resize;
        background-color: #d2d2d8;
      }
    }
  }

  .selected {
    display: none;
    border: solid 2px #178fe5;
    position: absolute;
    top: 0;
    left: 0;
    &.show {
      display: block;
    }
  }

}

.tip_lineX {
  width: 100%;
  height: 1px;
  border-top: dotted 1px black;
  position: absolute;
  display: none;
  left: 0px;
  z-index: 10;
  &.show {
    display: block;
  }
}

.tip_lineY {
  height: 100%;
  width: 1px;
  border-left: dotted 1px black;
  position: absolute;
  display: none;
  top: 0px;
  z-index: 10;
  &.show {
    display: block;
  }
}

.menu {
  display: none;
  position: absolute;
  background-color: white;
  border: solid 1px rgba(80, 80, 85, 0.95);
  .shadow();
  .radius();
  .menu_btn {
    &:hover {
      cursor: pointer;
    }
    width: 150px;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
    border-bottom: solid 2px grey;
    z-index: 3;
  }
}

/*改变鼠标指针为cross*/
.cross{
  cursor:crosshair;
}

/*显示*/
.show {
  display: block;
}

/*阴影*/
.shadow(@v1:3px,@v2:3px,@v3:10px,@color:grey) {
  box-shadow: @v1 @v2 @v3 @color;
  -webkit-box-shadow: @v1 @v2 @v3 @color;
  -moz-box-shadow: @v1 @v2 @v3 @color;
  -o-box-shadow: @v1 @v2 @v3 @color;
}

/*圆角*/
.radius(@radius:2px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

/*禁止文字选中*/
.user-select{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}

/*迫使ie按照标准的盒子模型进行计算*/
.boxSizing {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
